In [5]:
import configparser
import requests
import json
import pandas as pd

In [42]:
config = configparser.ConfigParser()
config.read('config.ini')

API_KEY = config['DEFAULT']['API_KEY']

FUNCTION = "TIME_SERIES_INTRADAY"
SYMBOL = "MSFT"
INTERVAL = "1min"
API_URL = "https://www.alphavantage.co/query?outputsize=compact&function={}&symbol={}&interval={}&apikey={}"

In [43]:
REQUEST = API_URL.format(FUNCTION, SYMBOL, INTERVAL, API_KEY)
response = requests.get(REQUEST)
json_data = json.loads(response.text)
time_series = json_data['Time Series (1min)']

In [44]:
df = pd.DataFrame(time_series).T
columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
}
df.rename(index=str, columns=columns, inplace=True)
df.index = pd.to_datetime(df.index)
df = df.astype('float64')

In [45]:
df

                         open      high       low     close    volume
2018-11-12 16:00:00  106.8700  106.9800  106.7800  106.9300  636175.0
2018-11-12 15:59:00  106.8600  106.9700  106.8200  106.8600  227537.0
2018-11-12 15:58:00  106.9600  106.9800  106.8050  106.8700  167426.0
2018-11-12 15:57:00  106.8300  107.0150  106.7600  106.9700  230932.0
2018-11-12 15:56:00  106.8100  106.8900  106.7600  106.8300  258688.0
2018-11-12 15:55:00  106.8993  106.8993  106.7100  106.7850  209708.0
2018-11-12 15:54:00  106.8450  106.9365  106.8400  106.8800  119847.0
2018-11-12 15:53:00  106.9000  106.9400  106.8000  106.8300  156095.0
2018-11-12 15:52:00  106.9100  106.9600  106.8500  106.8800  111232.0
2018-11-12 15:51:00  107.1200  107.1400  106.8500  106.9000  158255.0
2018-11-12 15:50:00  107.1800  107.2000  107.0600  107.1100  117852.0
2018-11-12 15:49:00  107.2400  107.2900  107.1900  107.1900  101109.0
2018-11-12 15:48:00  107.4200  107.4400  107.2350  107.2350  102318.0
2018-11-12 15:47:00  107.3000  107.4150  107.2900  107.4100  110943.0
2018-11-12 15:46:00  107.2700  107.4300  107.2500  107.3100  143292.0
2018-11-12 15:45:00  107.3400  107.3400  107.2300  107.3000   98112.0
2018-11-12 15:44:00  107.2200  107.4300  107.2000  107.3500  125065.0
2018-11-12 15:43:00  107.1400  107.2750  107.1300  107.2200   93408.0
2018-11-12 15:42:00  107.0500  107.2400  107.0400  107.1500  109877.0
2018-11-12 15:41:00  107.1900  107.1900  106.9800  107.0500  126756.0
2018-11-12 15:40:00  107.1400  107.2400  107.1300  107.2000   89643.0
2018-11-12 15:39:00  107.1900  107.1900  107.1500  107.1500   62951.0
2018-11-12 15:38:00  107.1600  107.2100  107.1500  107.2000   73470.0
2018-11-12 15:37:00  107.0400  107.2100  107.0400  107.1600   85395.0
2018-11-12 15:36:00  107.0600  107.0900  107.0100  107.0400   61752.0
2018-11-12 15:35:00  107.0000  107.0500  106.9600  107.0500   86336.0
2018-11-12 15:34:00  107.1200  107.1500  106.9900  107.0000  151536.0
2018-11-12 15:33:00  107.1900  107.2100  107.1000  107.1200   79972.0
2018-11-12 15:32:00  107.1100  107.1900  107.0450  107.1900   73609.0
2018-11-12 15:31:00  107.2300  107.2300  107.0900  107.1050  138395.0
...                       ...       ...       ...       ...       ...
2018-11-12 14:50:00  107.6900  107.6950  107.5600  107.6200  110025.0
2018-11-12 14:49:00  107.6400  107.6700  107.6250  107.6700   79638.0
2018-11-12 14:48:00  107.5900  107.6300  107.5400  107.6300   57755.0
2018-11-12 14:47:00  107.5600  107.6000  107.4900  107.5995   91412.0
2018-11-12 14:46:00  107.3450  107.5700  107.3400  107.5700  106290.0
2018-11-12 14:45:00  107.3000  107.3625  107.3000  107.3400   55667.0
2018-11-12 14:44:00  107.3000  107.3300  107.2569  107.2900   58363.0
2018-11-12 14:43:00  107.0600  107.3100  107.0300  107.3100  100542.0
2018-11-12 14:42:00  107.1300  107.1400  107.0300  107.0550   48245.0
2018-11-12 14:41:00  107.0500  107.1300  107.0500  107.1300   36179.0
2018-11-12 14:40:00  107.0650  107.0750  107.0000  107.0300   66965.0
2018-11-12 14:39:00  106.9600  107.0600  106.9200  107.0500   53910.0
2018-11-12 14:38:00  106.9800  107.0200  106.9400  106.9500   62694.0
2018-11-12 14:37:00  107.0700  107.0900  106.9700  106.9800   60855.0
2018-11-12 14:36:00  107.3200  107.3600  107.0400  107.0900   89422.0
2018-11-12 14:35:00  107.1700  107.2900  107.1600  107.2900   52716.0
2018-11-12 14:34:00  107.2600  107.2600  107.1600  107.1700   35875.0
2018-11-12 14:33:00  107.2500  107.3100  107.2200  107.2500   47966.0
2018-11-12 14:32:00  107.1400  107.2800  107.1400  107.2650   46623.0
2018-11-12 14:31:00  107.0300  107.1600  107.0300  107.1400   50601.0
2018-11-12 14:30:00  107.1800  107.1800  107.0100  107.0300   69789.0
2018-11-12 14:29:00  107.2200  107.2200  107.1500  107.1900   59019.0
2018-11-12 14:28:00  107.2200  107.2400  107.2000  107.2200   39520.0
2018-11-12 14:27:00  107.2400  107.2400  107.2000  107.2400   59407.0
2018-11-12 14:26:00  107.3500  107.3500  107.2300  107.2300   40573.0
2018-11-12 14:25:00  107.2550  107.3500  107.2550  107.3500   37527.0
2018-11-12 14:24:00  107.2300  107.2500  107.2000  107.2500   36375.0
2018-11-12 14:23:00  107.2800  107.3000  107.2200  107.2300   59245.0
2018-11-12 14:22:00  107.3050  107.3700  107.2600  107.2800   81666.0
2018-11-12 14:21:00  107.3900  107.4050  107.3052  107.3100   47737.0

[100 rows x 5 columns]